In [1]:
import sklearn
import pandas as pd
import pymorphy2

In [2]:
clean_dataset = pd.read_csv('data/cleaned_data.csv', index_col=0)

p_data = pd.read_csv('data/positive.csv', sep=';', header=None)
n_data = pd.read_csv('data/negative.csv', sep=';', header=None)

dataset = pd.concat([p_data, n_data])
dataset = dataset[[3, 4, 5, 6]]

dataset.columns = ['text', 'label', 'repeat', 'favourite']

In [3]:
stop_symbols = [":)", ")", ":D", ":(", "(", "!"]

In [4]:
def count_of_stop_symbols(text, stop_symbols):
    result = []
    for symbol in stop_symbols:
        if (text.find(symbol) > -1):
            result.append(1)
        else:
            result.append(0)
    return result

In [5]:
stop_symbols_count = []
for text in dataset['text']:
    stop_symbols_count.append(count_of_stop_symbols(text, stop_symbols))

stop_symbols_count = pd.DataFrame(stop_symbols_count, columns=stop_symbols)

dataset = pd.concat([dataset, stop_symbols_count],
                    axis=1, join='inner')

In [6]:
dataset = pd.concat([dataset[['repeat', 'favourite']], dataset[stop_symbols]],
          axis=1, join='inner')

In [7]:
dataset.head()

   repeat  favourite  :)  )  :D  :(  (  !
0       0          0   0  1   1   0  0  0
1       0          0   0  0   1   0  0  0
2       0          1   0  1   0   0  0  1
3       0          1   0  0   1   0  0  0
4       0          0   0  0   1   0  0  0

In [8]:
clean_dataset.head()

                                                text  label
0  хоть я и школотый но поверь у мы то же самый о...      1
1  да всетаки он немного похожий на он но мой мал...      1
2                   ну ты идиотка я испугаться за ты      1
3  кто то в угол сидеть и погибать от голод а мы ...      1
4  вот что значит страшилка но блинпосмотреть вес...      1

In [9]:
dataset = pd.concat([clean_dataset, dataset],
          axis=1, join='inner')

In [10]:
dataset.head()

,text,label,repeat,favourite,:),),:D,:(,(,!
0,хоть я и школотый но поверь у мы то же самый о...,1,0,0,0,1,1,0,0,0
1,да всетаки он немного похожий на он но мой мал...,1,0,0,0,0,1,0,0,0
2,ну ты идиотка я испугаться за ты,1,0,1,0,1,0,0,0,1
3,кто то в угол сидеть и погибать от голод а мы ...,1,0,1,0,0,1,0,0,0
4,вот что значит страшилка но блинпосмотреть вес...,1,0,0,0,0,1,0,0,0

In [11]:
print("data is ready")

data is ready

In [12]:
dataset.to_csv('data/cleaned_data.csv')